.carousel-item {
    height: 70vh;
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
}

.section-statistics {
    margin-top: -3.5rem;
    position: relative;
}

.statistic-item {
    background: linear-gradient(37deg, #0072ff 0%, #005ED7 100%);
    color: #fff;
    padding: 1rem 0;
}

.section-services,
.section-quality,
.section-testimoni{
    margin: 20rem 0;
}

.section-testimoni {
    padding: 2rem 0;
    background: linear-gradient(0deg, rgba(328,181,224,0.02) 0%, rgba(28,181,224,0.05) 100%);
}

footer {
    padding: 2rem 0;
}